.button_header,
.button_content											{display:inline-block; overflow:hidden; line-height:0em;}
/* ************************************************************************************* */
.button_header											{margin-left:6px;}

.button_header .button,
.button_header .button:hover,
.button_header .button.act,
.button_header .button:hover div,
.button_header .button div								{display:inline-block; cursor:pointer; overflow:hidden;}

.button_header .button,
.button_header .button:hover,
.button_header .button.act
.button_header .button,
.button_header .button:hover,
.button_header .button.act								{padding:0; overflow:hidden; font-size:1em;text-transform:uppercase;}
/* ************************************************************************************* */

/* ************************************************************************************* */
/* ************************************************************************************* */
.button_header4 .button .button-t,
.button_header4 .button:hover .button-t,
.button_header4 .button.act .button-t					{background:url('../images/button_header4.gif') repeat-x transparent;}
/* ************************************************************************************* */
/* ************************************************************************************* */
.button_header4 .button .button-t,
.button_header4 .button.act:hover .button-t				{background-position:0 0;}

.button_header4 .button:hover .button-t,
.button_header4 .button.act .button-t					{background-position:0 -30px;}
/* ************************************************************************************* */
.button_header4 .bg_button .button-t,
.button_header4 .bg_button:hover .button-t,
.button_header4 .bg_button.act .button-t				{margin: 0px 0px 0px 0px; height:30px;}
/* ************************************************************************************* */
/* ************************************************************************************* */
.button_header4 .bg_button  a span.ui-button-text,
.button_header4 .bg_button  span.ui-button-text,
.button_header4 .bg_button:hover a span.ui-button-text,
.button_header4 .bg_button.act a span.ui-button-text,
.button_header4 .bg_button:hover span.ui-button-text,
.button_header4 .bg_button.act span.ui-button-text						{font-weight:bold;text-decoration:none; white-space:nowrap;text-transform:none;}											 
/* ************************************************************************************* */	
/* ************************************************************************************* */
/* ************************************************************************************* */
.button_header4 .bg_button:hover a span.ui-button-text,
.button_header4 .bg_button.act a span.ui-button-text,
.button_header4 .bg_button:hover span.ui-button-text,
.button_header4 .bg_button.act span.ui-button-text					{color:#fff;}

.button_header4 .bg_button  a span.ui-button-text,
.button_header4 .bg_button  span.ui-button-text						{color:#fff;line-height:1em;padding: 3px 0px 7px 5px; display:inline-block;}
/* ************************************************************************************* */	
/* ************************************************************************************* */
/* ************************************************************************************* */	
/* ************************************************************************************* */
/* ************************************************************************************* */
.button_content  button										{height:21px; font-size:100%;font-family:Arial, Helvetica, sans-serif}	
/* ************************************************************************************* */	
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
.button_content .button,
.button_content .button.act,
.button_content .button div								{display:inline-block; cursor:pointer; overflow:hidden;}

.button_content .button,
.button_content .button.act								{padding:0; overflow:hidden; }
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
.button_content22 .bg_button .button-b,
.button_content22 .bg_button:hover .button-b,
.button_content22 .bg_button.act .button-b					{background:url('../images/button_content.gif') repeat-x transparent;}
/* ************************************************************************************* */
/* ************************************************************************************* */
.button_content22 .bg_button .button-t						{border:1px solid #baad93;}
.button_content22 .bg_button.act:hover .button-t			{border:1px solid #baad93;}

.button_content22 .bg_button:hover .button-t				{border:1px solid #342430;}

.button_content22 .bg_button .button-b						{ background-position:0 0px; border:1px solid #efebe3;}
.button_content22 .bg_button.act:hover .button-b			{ background-position:0 -37px; border:1px solid #efebe3;}

.button_content22 .bg_button:hover .button-b				{ background-position:0 -37px; border:1px solid #75604e;}

/* ************************************************************************************* */
/* ************************************************************************************* */
.button_content2 .bg_button .button-b,
.button_content2 .bg_button:hover .button-b,
.button_content2 .bg_button.act .button-b					{background:url('../images/button_content.gif') repeat-x transparent;}
/* ************************************************************************************* */
/* ************************************************************************************* */
.button_content2 .bg_button .button-t						{border:1px solid #baad93;}
.button_content2 .bg_button.act:hover .button-t				{border:1px solid #baad93;}

.button_content2 .bg_button:hover .button-t					{border:1px solid #342430;}

.button_content2 .bg_button .button-b						{ background-position:0 0px; border:1px solid #efebe3;}
.button_content2 .bg_button.act:hover .button-b			{ background-position:0 -37px; border:1px solid #efebe3;}

.button_content2 .bg_button:hover .button-b				{ background-position:0 -37px; border:1px solid #75604e;}
/* ************************************************************************************* */
/* ************************************************************************************* */
.button_content .bg_button .button-b,
.button_content .bg_button:hover .button-b,
.button_content .bg_button.act .button-b				{margin: 0px 0px 0px 0px; min-height:21px;}
.button_content .bg_button .button-t,
.button_content .bg_button:hover .button-t,
.button_content .bg_button.act .button-t				{margin: 0px 0px 0px 0px; min-height:23px;}
/* ************************************************************************************* */
/* ************************************************************************************* */
.button_content .bg_button  a span.ui-button-text,
.button_content .bg_button  span.ui-button-text,
.button_content .bg_button:hover a span.ui-button-text,
.button_content .bg_button.act a span.ui-button-text,
.button_content .bg_button:hover span.ui-button-text,
.button_content .bg_button.act span.ui-button-text						{font-size:1em; line-height:1em;font-weight:normal;white-space:nowrap;text-decoration:none; display:inline-block;} 											 
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
.button_content2 .bg_button  a span.ui-button-text,
.button_content2 .bg_button  span.ui-button-text						{color:#695f53;text-decoration:none;}

.button_content2 .bg_button:hover a span.ui-button-text,
.button_content2 .bg_button.act a span.ui-button-text,
.button_content2 .bg_button:hover span.ui-button-text,
.button_content2 .bg_button.act span.ui-button-text						{color:#fff;text-decoration:none;}
/* ************************************************************************************* */
/* ************************************************************************************* */
.button_content22 .bg_button  a span.ui-button-text,
.button_content22 .bg_button  span.ui-button-text						{color:#695f53;text-decoration:none;}

.button_content22 .bg_button:hover a span.ui-button-text,
.button_content22 .bg_button.act a span.ui-button-text,
.button_content22 .bg_button:hover span.ui-button-text,
.button_content22 .bg_button.act span.ui-button-text					{color:#fff;text-decoration:none;}
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text { padding: 5px 9px 5px 9px; }
.prod_info_next .button_next .ui-button-text-icon-primary .ui-button-text, 
.prod_info_next .button_next .ui-button-text-icons .ui-button-text 				{ padding: 5px 9px 5px 9px; }
.ui-button-text-icon-secondary .ui-button-text, .ui-button-text-icons .ui-button-text {padding: 5px 9px 5px 9px; }



.button__padd .ui-button-text-icon-primary .ui-button-text, .button__padd .ui-button-text-icons .ui-button-text { padding: 5px 9px 5px 9px; }
.button__padd .ui-button-text-icon-secondary .ui-button-text, .button__padd .ui-button-text-icons .ui-button-text {padding: 5px 9px 5px 9px; }

span.ui-button-icon-primary		{display:none;} /**/

.button_content2 .ui-state-default .ui-icon		 		{ background-image: url('../ext/jquery/ui/redmond/images/ui-icons_orange_256x240.png');}
.button_content2:hover .ui-state-default .ui-icon		 		{ background-image: url('../ext/jquery/ui/redmond/images/ui-icons_ffffff_256x240.png');}
.button_content2 .ui-state-hover .ui-icon		 		{ background-image: url('../ext/jquery/ui/redmond/images/ui-icons_ffffff_256x240.png');}

.button_content22 .ui-state-default .ui-icon		 		{ background-image: url('../ext/jquery/ui/redmond/images/ui-icons_grey_256x240.png');}
.button_content22:hover .ui-state-default .ui-icon		 		{ background-image: url('../ext/jquery/ui/redmond/images/ui-icons_ffffff_256x240.png');}
.button_content22 .ui-state-hover .ui-icon		 		{ background-image: url('../ext/jquery/ui/redmond/images/ui-icons_ffffff_256x240.png');}

/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */

