.infoBoxWrapper						{margin:0px 0px 19px 0px;padding: 0px 0px 0px 0px; overflow:hidden;background:url('../images/infoBoxWrapper_bg.gif') 0px 0px repeat-y transparent;}
.infoBoxWrapper.last				{border-bottom:0px solid #36393b;}
.infoBoxWrapper.list 				{}
/* ************************************************************************************* */
.infoHeading,
.infoBoxHeading  			{color:#392f26;font-weight:normal; font-size:1.666em; font-family: 'Quattrocento Sans', sans-serif; text-transform:uppercase;
  										 padding: 19px 10px 11px 19px;margin: 0px 0px 0px 0px; position:relative;background:url('../images/infoBoxHeading_bg.jpg') 0px 0px no-repeat transparent;}

.infoBoxWrapper.style2 				{overflow:visible;}	
.style2 .infoBoxHeading				{background:url('../images/infoBoxHeading.jpg') 100% 0px no-repeat #332f2c; border-bottom:1px solid #fff; margin-bottom:8px;padding: 14px 0px 14px 0px;}
.style2 .infoBoxHeading,
.style2 .infoBoxHeading a				{color:#fff;}

.infoBoxHeading a 				{color:#392f26; text-decoration:none;}
.infoBoxHeading a:hover		{color:#392f26;}
.infoBoxHeading.title2 a 			{color:#06b8fa;}
.infoBoxHeading .title-icon	{background:url('../images/title-icon.gif') 0 0 no-repeat transparent; display:inline-block; width:8px; height:5px; position:absolute; top:14px; left:10px; display:none;}

.infoBoxWrapper .infoBoxContents 					{padding: 5px 18px 10px 18px; overflow:hidden;background:url('../images/infoBoxContents_bg.jpg') 0px 100% no-repeat transparent;}

.infoBoxWrapper.list .infoBoxHeading  				{}
.infoBoxWrapper.list .infoBoxContents 					{padding:0px 18px 0px 18px;}													
/* ************************************************************************************* */
.prods_info .infoBoxWrapper .infoBoxContents a 							{color:#332f2c !important;}
.prods_info .infoBoxWrapper .infoBoxContents a:hover				{color:#cc7e36 !important;}

.prods_info .infoBoxWrapper 										{}
.prods_info .infoBoxWrapper .infoBoxHeading,
.prods_info .infoBoxWrapper .infoBoxHeading	 a	{border:0; color:#303030;} 
.prods_info .infoBoxWrapper .infoBoxContents 		{padding:0px 10px 10px 10px; border:0;}

.infoContents,

.infoBoxContents 									{ color:#ddd; }
/* ************************************************************************************* */
.infoBoxWrapper.box2 				 				{}
.infoBoxWrapper.box2 .infoBoxHeading 				{}
.infoBoxWrapper.box2 .infoBoxContents 				{padding: 15px 18px 12px 18px;}
/* ************************************************************************************* */
.infoBoxWrapper.box3  											{ overflow:hidden; border:0; background:none;}
.infoBoxWrapper.box3 .infoBoxHeading				{ border:0;}
.infoBoxWrapper.box3 .infoBoxHeading a				{}

.infoBoxWrapper.box3 .infoBoxHeading  				{}
.infoBoxWrapper.box3								{}
.infoBoxWrapper.box3 .infoBoxContents 				{padding: 0px 0px 0px 0px; border:0;background:none;}
/* ************************************************************************************* */
.infoBoxWrapper.box4 				 							{margin:40px 0px 35px 0px; float:left;background:url('../images/box4_bg.jpg') 100% 0px repeat-y transparent;border:0;}
.infoBoxWrapper.box4.last 				 				{background:transparent;}

.infoBoxWrapper.box4 .infoBoxHeading 				{padding: 0px 0px 7px 20px;border:0;}

.infoBoxWrapper.box4													{}
.infoBoxWrapper.box4 .infoBoxContents 				{padding: 10px 0px 1px 0px; border:1px solid #36393b; border-width:0px 0 0 0px;margin: 0px 20px 0px 20px;}
.infoBoxWrapper.box4  ul											{border-top:0px solid #36393b;}
.infoBoxWrapper.box4  ul.first		{border-top:0px;}
.infoBoxWrapper.box4  li.wrapper_prods {
    float: left;
    margin: 0px 0px 0px 0px;
    width: auto;
		padding: 15px 0px 20px 0px;
		background:url('../images/box4_bg2.gif') 0px 100% repeat-x transparent;
}
.infoBoxWrapper.box4 ul.first  li.wrapper_prods	{
	padding: 0px 0px 15px 0px;
}
		
.infoBoxWrapper.box4  ul													{margin: 0px 0px 0px 0px;}
.infoBoxWrapper.box4  ul.last											{margin: 0px 0px 31px 0px;}
.infoBoxWrapper.box4 .infoBoxContents .pic_padd		{float:left; margin-right:6px;}
/* ************************************************************************************* */
.infoBoxWrapper.box6 .infoBoxContents 				{padding: 0px 18px 9px 18px;}
/* ************************************************************************************* */
.infoBoxWrapper.box5 				 				{}
.infoBoxWrapper.box5 .infoBoxHeading 				{}
.infoBoxWrapper.box5 .infoBoxContents 			{padding: 10px 17px 0px 17px;}
.infoBoxWrapper.box5  li.wrapper_prods {
    float: left;
    margin: 16px 0px 16px 0px;
    width:100%;
}
.infoBoxWrapper.box5  ul							{margin: 0px 0px 0px 0px; border-top:1px solid #f2ede5; overflow:hidden;padding: 0px 3px 0px 3px;}
.infoBoxWrapper.box5  ul.first				{}
.box5 .pic														{margin-right:10px; float:left;}
/* ************************************************************************************* */

.infoBoxWrapper.cart_box  							{}
.infoBoxWrapper.cart_box .box_wrapper				{}
.infoBoxWrapper.cart_box .infoBoxHeading			{}
.infoBoxWrapper.cart_box .infoBoxHeading a			{}

.infoBoxWrapper.cart_box .infoBoxContents 		    {padding: 15px 10px 15px 10px;}

.infoBoxWrapper.cart_box .infoBoxContents 			{}
.infoBoxWrapper.cart_box .infoBoxContents strong	{}
.infoBoxWrapper.cart_box .infoBoxContents a			{ color:#eeeeee;}
.infoBoxWrapper.cart_box .infoBoxContents a:hover	{}
.cart_box_separator									{border-bottom:1px solid #e1e1e1;padding: 0px 0px 5px 0px;}
.cart_price_box										{padding: 15px 0px 0px 0px;}
SPAN.newItemInCart 									{font-size:1em;color: #ff0000;}
a:hover SPAN.newItemInCart 							{color: #f25c06;}
/* ************************************************************************************* */
.infoBoxWrapper.banner								{margin:0px 0px 3px 0px;padding:0px; border:0px solid #e1e1e1;}
/* ************************************************************************************* */
.list .infoBoxContents li							{padding:0px 0px 0px 0px; width:100%;position:relative;}

.list .infoBoxContents li, 
.list .infoBoxContents li a, 
.list .infoBoxContents li a font					{font-weight:normal; vertical-align:top;}

.infoBoxContents li a b						{font-weight:bold;}									
.infoBoxContents ul							{list-style:none;padding:0; margin:0;}
.list .infoBoxContents .categories				{margin:0px 0px 0px 0px;font-weight:normal;}
.list .infoBoxContents .bestsellers				{margin:0px 0px 0px 0px;padding: 0px 0px 10px 0px;}
.list .infoBoxContents .information				{margin:0px 0px 0px 0px;}
.list .infoBoxContents .manufacturers ul			{margin:0px 0px 0px 0px;}
.list .infoBoxContents li a strong,
.list .infoBoxContents li a 						{display:inline-block; overflow:hidden;}
.list .infoBoxContents .bestsellers li a 						{display:inline;}
.list .infoBoxContents ul li .div 				{padding-left:19px;}

.list .infoBoxContents a						{}
.list .infoBoxContents li 					{ line-height:1.3em;border-top:1px solid #36393b;} /* font-size:1.416em; font-family: 'Quattrocento Sans', sans-serif;*/
.list .infoBoxContents li.first		{margin-top:0;}
.list .infoBoxContents li:hover				{}
.list .infoBoxContents li,
.list .infoBoxContents li a					{color:#ffffff;text-decoration:none; font-size:1em;}
.list .infoBoxContents li a					{padding:10px 0px 10px 0px;}
.list .infoBoxContents li:hover,
.list .infoBoxContents li a:hover				{color:#fbb84c; text-decoration:underline;}
.list .infoBoxContents li a b					{ font-weight:bold;margin: 0px 0px 0px 0px;padding: 0px 0px 0px 0px;display:block;}
.list .infoBoxContents li a:hover b			{color:#fff;}

.list .infoBoxContents li span					{color:#fff;text-decoration:none; font-size:1em;}
.list .infoBoxContents li span					{padding:10px 19px 0px 0px; display:inline-block;}

.list .infoBoxContents li .category_arrow		{position:absolute;width:10px; height:10px; top:17px; right:0px; line-height:0px; font-size:0px;padding:0px;}
.list .infoBoxContents li .list_bg  			{position:absolute; width:10px; height:10px; top:17px; left:0;line-height:0px; font-size:0px;}
.list .infoBoxContents li .div .list_bg  		{left:19px;}
.list .infoBoxContents li .div .div .list_bg  	{left:38px;}

.list .infoBoxContents li .list_bg,
.list .infoBoxContents li .category_arrow		{background:url('../images/superfish-arrows.png') 0px 0px no-repeat transparent;}/**/

										
.list .infoBoxContents li .list_bg  				{background-position:0px -120px;}	
.list .infoBoxContents li:hover .list_bg  		{background-position:0px -102px;}										
.list .infoBoxContents li .category_arrow			{background-position:0 0px;}
.list .infoBoxContents li:hover .category_arrow	{background-position:0 -10px;}										


.list .infoBoxContents li.first					{border-top:0px solid #fff;}
/* ************************************************************************************* */
.infoBoxContents .bestsellers li 			{line-height:1.55em;}
.infoBoxContents .bestsellers li:hover 		{}
.infoBoxContents .bestsellers li a				{padding-left:0px; text-decoration:underline;}
.infoBoxContents .bestsellers li .div_1		{display:inline-block; width:195px;padding: 10px 0px 10px 0px;}
.infoBoxContents .bestsellers li b				{display:inline-block;float:left; color:#332f2c; font-weight:bold;padding: 10px 0px 10px 0px; display:none}
.infoBoxContents .bestsellers li a:hover 	{text-decoration:none;}
.infoBoxContents .bestsellers li .list_bg	{ display:none;}
/* ************************************************************************************* */
/* ************************************************************************************* */
.infoBoxContents.search 					{padding:0px 0px 0px 0px;margin:0px 0px 0 0px;width:100%;}
.infoBoxContents.search label				{color:#fff;margin-right:3px; margin-top:2px;text-transform:uppercase;display:none;}

.infoBoxContents.search .go					{color:#b0906c;
							 width:96%;padding:8px 6px 7px 8px; min-height:7px;left:0px;margin:0;border:0px solid #fff;background:transparent;position:absolute;top:0;line-height:1.5em;font-size:.9em;}
							 
.infoBoxContents	.input-width 			{height:30px;width:190px;}
	.width-setter 										{height:37px;position:relative;margin:0 0 0 0;background:url('../images/search_input_bg.gif') 0px 0px no-repeat transparent;}
							 
.infoBoxContents.search .button_header_search	{margin-left:0px;}	
.infoBoxContents.search .box_wrapper					{overflow:hidden;display:inline-block;}
.infoBoxContents.search .advanced							{display:block;padding: 6px 0px 0px 9px;}		
.infoBoxContents.search .advanced	a						{ color:#896946; font-weight:bold; text-decoration:underline;}	
.infoBoxContents.search .advanced	a:hover			{text-decoration:none; }						 
/* ************************************************************************************* */

/* ************************************************************************************* */
/* ************************************************************************************* */
.infoBoxContents .select					{width:100%; font-size:1em;}
/* ************************************************************************************* */
/* ************************************************************************************* */
.infoBoxContents .name_padd							{padding:0px 0px 13px 0px;vertical-align:top; text-align:left;}
.infoBoxContents .pic_padd							{padding:0px 0px 0px 0px; text-align:left;}
.infoBoxContents .desc_padd							{padding:4px 0px 4px 0px;}
.infoBoxContents .block_padd						{padding:0px 0px 11px 0px;}
.infoBoxContents .price_padd						{padding:0px 5px 0px 0px;vertical-align:middle; text-align:left; border-bottom:0px solid #e1e1e1; width:100%;}
.infoBoxContents .price_padd b						{display:none; float:left; font-weight:normal;}

.infoBoxContents .button__padd .button_content2		{ float:left; }
.infoBoxContents .button__padd .button_content22	{ float:left;margin: 0px 6px 0px 0px;}




.infoBoxContents .stars_padd						{padding:5px 0px 0px 0px;}
/* ************************************************************************************* */
.box_icon					{display:block; float:left;padding:0px 20px 0px 0px;}
.box-padd					{padding: 5px 5px 3px 5px; overflow:hidden;}
.padd							{padding: 0px 10px 0px 0px;}
.best_sellers .padd			{width:auto;}
/* ************************************************************************************* */
.headerBoxWrapper			{}
.headerBoxContents			{}
/* ************************************************************************************* */
/* ************************************************************************************* */
.Footer_BoxWrapper 									{ float:left;}
.Footer_BoxHeading									{display:none;}
.Footer_BoxWrapper h4								{padding: 16px 0px 0px 0px;margin: 10px 0px 0px 0px;}
.Footer_BoxWrapper h4								{color:#896946;font-weight:bold; }
.Footer_BoxWrapper ul								{padding: 0px 0px 0px 0px;margin: 0px 0px 0px -6px; list-style:none; overflow:hidden; float:left;}
.Footer_BoxWrapper li								{float:left;}
.Footer_BoxWrapper li a								{padding: 20px 6px 20px 6px; display:inline-block;}

.Footer_BoxWrapper li a								{color:#896946; font-weight:normal; text-decoration:none;}
.Footer_BoxWrapper li.act a,
.Footer_BoxWrapper li a:hover						{color:#3fa1c9; text-decoration:none;}

.Footer_BoxWrapper li.first a						{background:none;}
/* ************************************************************************************* */
.banner_set						{list-style:none; overflow:hidden; padding:0;margin: 0px 0px 0px 0px;}
.banner_set	li					{display:block;margin: 0px 0px 0px 0px;padding: 0px 0px 0px 0px;float:left;}
.banner_set	li a				{display:block;}
.banner_set	li.first			{float:left;}
.banner_set	li.last				{float:right;}
.banner_set	li.first.last		{float:left;}

.banner_side					{line-height:0em; margin-bottom:20px; }
.banner_footer					{line-height:0em; margin-top:23px;}

.banner,
.banner_set	li					 {line-height:0; font-size:0;}

.bookmarks 										{width:100%; float:none; overflow:hidden;}
.bookmarks .infoBoxWrapper		{float:left; margin-right:0px;}

.page_reviews .bookmarks .infoBoxWrapper					{margin-left:20px;}
.page_reviews .bookmarks .infoBoxWrapper.first		{margin-right:0px;}



.infoBoxContents .border_prods		{padding: 0px 0px 10px 0px;overflow:hidden;}

.infoBoxContents .prods_padd		{padding: 0px 0px 0px 0px;}

.tool_tip				{position:absolute; right:10px; top:10px; width:100px; height:120px; background:#666; border:1px solid #333; display:none;}
.box_header_phone				{color:#a29a95;font-size:1.4em; line-height:1em;font-family: 'Quattrocento Sans', sans-serif; padding-right:2px; margin-top:10px; }
.box_header_phone span			{color:#be273e;}
.box_header_phone > div 		{margin-left:20px; margin-top:12px;}
