/*
NOTE: 
This is the modified stylesheet from 
http://users.tpg.com.au/j_birch/plugins/superfish/#getting-started
Superfish v1.4.8 – jQuery menu plugin by Joel Birch
This is JQuery ready:simply by adding a superfish jquery file the menu will operate 
in smooth jquery style. Other styling options from Superfish can be downloaded from this
site. - HTML for this menubar was adapted from UL_Categories contribution by 
www.niora.com/css-oscommerce.php.
********************************************************************************************/
/*** ESSENTIAL STYLES ***/
/*containing div*/
.cat_navbar{
padding-top:0px;
/* height:40px;*/
z-index:99 !important;
width:100%;
/*position:absolute;*/
top:0px;
line-height:0em;
background:transparent;

}
.cat_navbar .wrapper	{}
.navbar_bg {margin: 0px auto 0px auto;position:relative;}
.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.sf-menu {
	line-height:	1.0;	
}
.sf-menu ul {
	top:			-999em;
	width:			12.5em; /* left offset of submenus need to match (see below) */
	background:transparent;
}
.sf-menu ul ul {
	position:absolute;
	width:15.182em;
}
.sf-menu > li > ul{
	/*border:1px solid #ebebeb; border-top:0px solid transparent; margin-left:-1px;*/ 
}
.sf-menu ul ul{
	margin-top:7px;
	background:url('../images/div_cat_navbar.jpg') 0px 0px no-repeat #332f2c;
}

.sf-menu ul ul{
/*	border:1px solid #ebebeb; border-top:1px solid #ebebeb;*/
}

.sf-menu ul li li {
	width:			100%;	
}
.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float:			left;
/*	position:		relative;*/
}
.sf-menu a {
	display:	  inline-block;
	position:		relative;
	
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	
	top:auto; /* match top ul list item height */
	z-index:		99; float:left;
	margin: 20px 0px 0px 20px;
}
.sf-menu li ul.caunt_ul_0,
.sf-menu li:hover ul.caunt_ul_0	{
	left:			15.636em;
	z-index:		9;
}
.sf-menu li ul.caunt_ul_1,
.sf-menu li:hover ul.caunt_ul_1	{
	left:			31.636em;
	z-index:		9;
}
.sf-menu li ul.caunt_ul_2,
.sf-menu li:hover ul.caunt_ul_3	{
	left:			47.454em;
	z-index:		9;
}

ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			14em; /* match ul width */
	top:auto;
}
ul.sf-menu li ul ul	{
	background:url('../images/div_cat_navbar.jpg') 0px 0px no-repeat #332f2c;border:1px solid #4e4a47;border-width:1px 1px 1px 1px; position:absolute;	
}

ul.sf-menu li ul  li.sfHover	> ul,
ul.sf-menu li ul  li:hover	> ul{
		top:			0;
}

/*** DEMO SKIN ***/
.sf-menu {
	float:			left;
	margin-left:0;
	width:100%;
	margin-bottom:37px;
}
.sf-menu li:hover ul ul,
.sf-menu li.sfHover ul ul {
	margin: 0px 0px 0px 0px;
}
#header .sf-menu a {     /*#header seems to be required*/	
	/*border-top:		1px solid #CFDEFF;*/
	padding: .80em 2em .80em 1em;  
	color:#cc7e36;
	font-weight: bold;
	text-decoration:underline;
}
.sf-menu .sfHover a,
.sf-menu a {
	color:			#fdfcec; text-decoration:none;
}
.sf-menu a:hover { /* visited pseudo selector so IE6 applies text colour*/
	color:			#fdfcec; text-decoration:none;
}
.sf-menu .sfHover li a,
.sf-menu > li li > a:hover, 
{ /* visited pseudo selector so IE6 applies text colour*/
	color:			#fdfcec; text-decoration:none;

}

.sf-menu > li:hover {}/*url('../images/sf-menu_bg-l.jpg') 0px 0px no-repeat */
.sf-menu > li > a  { /* visited pseudo selector so IE6 applies text colour*/
	color:			#fdfcec; 
	text-decoration:none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 10px 0px;
	display:block;

	font-weight:bold;
	font-size:1em;
	line-height:1em;
	min-height:35px;
	font-weight:bold; font-size:1.416em;
}

.sf-menu > li > a:hover	{
	background:url('../images/marker_bg.png') 0px 100% no-repeat transparent;
}
.sf-menu > li > a .wrapper_level {
				padding: 9px 19px 9px 18px;
}
.sf-menu > li > a:hover  { /* visited pseudo selector so IE6 applies text colour*/
	text-decoration:none;
	
	
}
.sf-menu > li > a:hover .wrapper_level	{
	/*url('../images/sf-menu_bg-r.jpg') 100% 0px no-repeat */
}
.sf-menu > li > a:hover { /* visited pseudo selector so IE6 applies text colour*/
	color:			#cc7e36;
	
}
.sf-menu > li li:hover > a.current:hover,
.sf-menu .sfHover li a:hover  {
	color:#fdfcec; text-decoration:underline;
}
.sf-menu > li li > a:hover,
.sf-menu > li li:hover > a.current  {
	color:#fff; font-weight:normal;
}

.sf-menu .sfHover li a,
.sf-menu > li li > a  {
	padding-top:4px;
	padding-bottom:5px;
	color:#695f54;
	font-size:.916em;
	font-size:1; background-position: 20px 4px;
	display:block;/*background:url('../images/sf-menu_bg.png') no-repeat transparent;*/
}
.sf-menu > li li:hover > a.current,
.sf-menu > li li > a:hover {
	background-position: 20px -31px;
}
.sf-menu > li {
	margin-left:11px;
}
.sf-menu > li.item-3 {
	margin-left:10px;
}
.sf-menu > li  {
	border-top:1px solid #d5d5d5; border-width: 0px 0px 0 0px; width:167px;display:block;
}
.sf-menu > li.first  {
		margin-left:0px;
	}
.sf-menu > li:hover{}
.sf-menu > li:focus > a,
.sf-menu > li:hover > a { color:#fff}
.sf-menu > li.last a {}
.sf-menu > li.last a { }
.sf-menu  li  li { line-height:1.2em; display:block; margin-left:0px; width:100%; border-bottom:1px solid #c1aa8a;}
.sf-menu li li.last {border-bottom:0px solid #a6a5a5;}
.sf-menu li li li {
	margin-left:0px;
}
.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
	outline:		0;	
}
.sf-menu li li:hover, .sf-menu li li.sfHover,
.sf-menu li li a:focus, .sf-menu li li a:hover, .sf-menu li li a:active {
	position:relative;
	
}

/*** arrows **/
.sf-menu a.sf-with-ul .wrapper_level {
	padding-right: 	25px;
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-menu a .wrapper_level {
	background:url('../images/sf-menu_a_1.gif') repeat transparent;
}
.sf-menu .item-1  a .wrapper_level	{background-position:0 0;}
.sf-menu .item-2 a .wrapper_level	{background-position:0px 0px;}
.sf-menu .item-3 a .wrapper_level	{background-position:0px 0px;}
.sf-menu .item-4 a .wrapper_level	{background-position:0px 0px;}

.sf-sub-indicator {
	position:		absolute;
	display:		block;
	right:			0;
	top:			1.05em; /* IE6 only */
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	background:		url('../images/superfish-arrows.png') no-repeat ; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
li a >  .sf-sub-indicator { background-position:0px 0px;top:15px; right:7px}
li li a >  .sf-sub-indicator { background-position:0px -10px;top:7px; right:0px;}
a:hover >  .sf-sub-indicator { background-position:0px -10px;}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: 0px -10px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator { background-position:  0px -10px; }

.sf-menu ul a > .sf-sub-indicator { background-position:  0 -20px; }

.sf-menu ul li.sfHover > a > .sf-sub-indicator { background-position:  0 -20px; }
/* apply hovers to modern browsers */

.sf-menu ul li:hover > a > .sf-sub-indicator,
.sf-menu ul a:focus > .sf-sub-indicator,
.sf-menu ul a:hover > .sf-sub-indicator,
.sf-menu ul a:active > .sf-sub-indicator {
	background-position: 0px -0px; /* arrow hovers for modern browsers*/
}
.sf-menu ul li .sf-sub-indicator	{
		background-position: 0px -20px;
}
.sf-menu:hover ul li > a > .sf-sub-indicator{
		background-position: 0px -20px;
}
.sf-menu ul li:hover > a > .sf-sub-indicator {
	background-position: 0px -30px;	
}
/*** shadows for all but IE6 ***/
.sf-shadow ul {
	/*background:	url('../images/superfish-shadow.png') no-repeat bottom right;*/
	padding: 0px 0px 0px 0;
}
.sf-shadow ul ul {
	padding: 5px 20px 5px 20px;
}
.sf-shadow ul.sf-shadow-off {
	background: transparent;
}
.div_cat_navbar	{
	left:0; position:absolute; top:-999em;border:1px solid #232323; border-width:0 0 0 0; padding: 0px 180px 20px 0; min-height:200px;background:#d3c5a8; width:520px; visibility:hidden;  
}
.sf-menu li.sfHover .div_cat_navbar {
	left:			0px;
	top:			3.7em; /* match top ul list item height */
	z-index:991;
}
.marker		{float:left; width:167px; height:10px;top:-9px; position:absolute; background:url('../images/marker_bg2.png') 0px 0px no-repeat transparent;}/**/

.item-		{background-position:0 0;}

.item-1 .marker		{ left:0px; }
.item-2 .marker		{ left:178px; }
.item-3 .marker		{ left:355px; }
.item-4 .marker		{ left:533px; }
