BODY {

}
TD {
	FONT: 11px/15px Verdana, Arial, Helvetica, sans-serif;
}

h1
{
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 1.3em;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px
}
h2
{
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 1.0em;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px;
	color: #CC3333;
}
h3
{

PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FONT-SIZE: 1.3em; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
h4
{

PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FONT-SIZE: 1.3em; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
P {
	
}
DIV {
	
}

.textbox {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin: 0px;
	padding: 2px;
	border: 0px none;
	width: 150px;
}


HR {
	BORDER-TOP-STYLE: dashed; BORDER-TOP-COLOR: #cccccc
}
A {
	COLOR: #990000;
}
A:hover {
	COLOR: #ff0000;
	TEXT-DECORATION: none
}
A:active {
	COLOR: #cc0000
}
.form {
	BORDER-RIGHT: #ccc 1px solid;
	BORDER-TOP: #ccc 1px solid;
	FONT-SIZE: 10px;
	BORDER-LEFT: #ccc 1px solid;
	COLOR: #000000;
	BORDER-BOTTOM: #999999 1px solid;
	BACKGROUND-COLOR: #ffffff
}
.buton {
	BORDER-RIGHT: #990000 1px solid;
	BORDER-TOP: #990000 1px solid;
	FONT-SIZE: 11px;
	BORDER-LEFT: #990000 1px solid;
	COLOR: #ffffff;
	BORDER-BOTTOM: #990000 1px solid;
	BACKGROUND-COLOR: #CC0000
}
.green {
	COLOR: #333333
}
.form_ana {
BORDER-TOP-WIDTH: 0px;
PADDING-RIGHT: 2px; 
PADDING-LEFT: 2px; 
BORDER-LEFT-WIDTH: 0px;
BORDER-BOTTOM-WIDTH: 0px;
 PADDING-BOTTOM: 0px;
  FONT: 11px arial; 
  WIDTH: 150px; COLOR: #414141; 
  PADDING-TOP: 3px; HEIGHT: 11px;
   BORDER-RIGHT-WIDTH: 0px;
   background-image:url(cssimages/form_ana.jpg);
}
.tablouyegirisi {
	background-image:url(images/uye_girisi.jpg);
	background-repeat:no-repeat;
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 10px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 25px;
}
.tabloalt {
	background-image:url(images/left.jpg);
	background-repeat:no-repeat;
PADDING-RIGHT: 5px;
	
	PADDING-LEFT: 10px;
	
	PADDING-BOTTOM: 5px;

	PADDING-TOP: 10px;

}
.tabloust {
	PADDING-LEFT: 15px;
	FONT-WEIGHT: bold;
	PADDING-BOTTOM: 5px;
	COLOR: #003366;
	MARGIN-RIGHT: 1px;
	PADDING-TOP: 5px;
	BACKGROUND-COLOR: #CCCCCC;
	background-image: url(images/tabloust.jpg);
}
.liste_ust {
	FONT-WEIGHT: bold; COLOR: #990000; BACKGROUND-COLOR: #ffffff
}
.tablo_form {
	BORDER-LEFT-COLOR: #ffffff; BORDER-BOTTOM-COLOR: #ffffff; COLOR: #333333; BORDER-TOP-COLOR: #ffffff; BORDER-COLLAPSE: collapse; BORDER-RIGHT-COLOR: #ffffff
}
.baslik {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #333333; font-stretch: condensed
}
.kucukyazi {
	FONT-SIZE: 10px
}
.beyazyazi {
	COLOR: #ffffff;
	font-weight:bold;
	font-size:12px;
	font-family:Tahoma;
}
.beyazyazi A:link {
	COLOR: #ffffff
}
.beyazyazi:hover {
	COLOR: #FFF9EA;
	text-decoration: none;
}
.fakmenu {
	display:block;
	padding:10px 10px 10px 10px;
	color:#333;
	text-decoration: none;
	font-weight: bold;
	font-family:Tahoma;
	

}
.fakmenu:hover {
	color: #049;
	background-image-position: -30;
	background-color: #DCF2FD;
}


.buyukyazi {
	MARGIN-TOP: 3px; FONT-WEIGHT: bold; FONT-SIZE: 13px; MARGIN-BOTTOM: 3px
}
.rollover a:active {

color:#fff;
}
.ikiyazi {
	TEXT-ALIGN: justify
}
.tablo1 {
	BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #fefdfc
}
.sayfaorta {
	
}
.sayfabaslik {
	BORDER-TOP-WIDTH: 1px;
	FONT-WEIGHT: bold;
	BORDER-LEFT-WIDTH: 1px;
	FONT-SIZE: 13px;
	BORDER-LEFT-COLOR: #990000;
	BORDER-TOP-COLOR: #990000;
	BORDER-BOTTOM: thin;
	TEXT-ALIGN: right;
	BORDER-RIGHT-WIDTH: 1px;
	BORDER-RIGHT-COLOR: #990000
}
.icerik {
	MARGIN-TOP: 1px; MARGIN-LEFT: 1px;
	text-align:justify;
}
.devam {
	COLOR: #FFFFFF;
	BACKGROUND-COLOR: #0099CC;
	TEXT-DECORATION: underline
}
.devam:hover {
	COLOR: #333333;
	BACKGROUND-COLOR: #E5E5E5;
	TEXT-DECORATION: none
}


.forumlink {
	COLOR:#333333;
	TEXT-DECORATION: underline
}
.forumlink:hover {
	COLOR: #990000;
	BACKGROUND-COLOR: #FFEBC1;
	TEXT-DECORATION: none
}
.blogmenu {
	
	PADDING-RIGHT: 4px;
	PADDING-LEFT: 4px;
	PADDING-BOTTOM: 4px;
	
	PADDING-TOP: 4px;
	BORDER-BOTTOM: #cccccc 1px solid;

	color: #990000;

}




.tablemenu {
	BORDER-top:  1px solid;
	BORDER-RIGHT:1px solid;
	PADDING-RIGHT: 4px;
	PADDING-LEFT: 4px;
	PADDING-BOTTOM: 4px;
	BORDER-LEFT:  1px solid;
	PADDING-TOP: 4px;
	BORDER-BOTTOM: 1px solid;
	color: #990000;

}

.tablemenu:hover {
	BORDER-RIGHT: #cccccc 1px solid;
	PADDING-RIGHT: 4px;
	BORDER-TOP: #cccccc 1px solid;
	PADDING-LEFT: 4px;
	PADDING-BOTTOM: 4px;
	BORDER-LEFT: #cccccc 1px solid;
	PADDING-TOP: 4px;
	BORDER-BOTTOM: #cccccc 1px solid;
	BACKGROUND-COLOR: #D9F5FF;
	color: #0099CC;
}
.ustmenu {
	BORDER-top:  1px solid;
	BORDER-RIGHT:1px solid;
	BORDER-LEFT:  1px solid;
	BORDER-BOTTOM: 1px solid;
	color: #990000;
	background-image: url(images/tabloust.jpg);

}

.ustmenu:hover {
	BORDER-RIGHT: #cccccc 1px solid;
	
	BORDER-TOP: #cccccc 1px solid;
	
	
	BORDER-LEFT: #cccccc 1px solid;

	BORDER-BOTTOM: #cccccc 1px solid;
	BACKGROUND-COLOR: #D9F5FF;
	color: #0099CC;
}

.resimtable {
	BORDER-RIGHT: #cccccc 1px solid;
	PADDING-RIGHT: 4px;
	PADDING-LEFT: 4px;
	PADDING-BOTTOM: 4px;
	BORDER-LEFT: #cccccc 1px solid;
	PADDING-TOP: 4px;
	BORDER-BOTTOM: #cccccc 1px solid;
	BORDER-TOP: #cccccc 1px solid;


}

.resimtable:hover {
	BORDER-RIGHT: #cccccc 1px solid;
	PADDING-RIGHT: 4px;
	BORDER-TOP: #cccccc 1px solid;
	PADDING-LEFT: 4px;
	PADDING-BOTTOM: 4px;
	BORDER-LEFT: #cccccc 1px solid;
	PADDING-TOP: 4px;
	BORDER-BOTTOM: #cccccc 1px solid;
	BACKGROUND-COLOR: #0099CC;
	color: #0099CC;
}




.tablo2
{


	background-repeat:no-repeat;
     PADDING-RIGHT: 5px;
	
	PADDING-LEFT: 5px;
	font-size:12;
	
	PADDING-BOTTOM: 5px;

	PADDING-TOP: 5px;
	color:#990000;
	
}

.tablo2 A:link {
		text-decoration:none;
}

.tablo3
{


	background-repeat:no-repeat;
    PADDING-RIGHT: 5px;	
	PADDING-LEFT: 5px;
	font-size:12;
	font-weight:bold;	
	PADDING-BOTTOM: 5px;
	PADDING-TOP: 5px;
}
.header {
	background: #000;
	cursor: pointer;
	padding:4px;
}

.header:hover{
	background-color:#666;
}
.selected{
	background-color:#F00;
	color:#FFF;
}

.content{
	background:#FFF;
	padding:4px;
}
.yantablo
{
	background-color:#F8F8F8;
}

.tablo11 {
BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #fefdfc
}
.tablomenu2
{
	background-color:#E8E8E8;
	background-image: url(images/cssimages/bar.jpg);
}


.beyaz {
	COLOR: #ffffff;

}
.beyaz A:link {
	COLOR: #ffffff
}
.beyaz:hover {
	text-decoration: none;
}
.ikonlink {
	border:0;
	text-align:center;
	text-decoration: none;
	
}
.ikonlink A:link {
	text-decoration: none;
	}
.ikonlink:hover {
	color: #0099FF;

}
