.input {
    border: 1px solid #006;
    background: #ffc;
}

.button {
    border: none;
    background: url('../img/up.png') no-repeat top left;
    padding: 2px 2px;
}
label {
    display: block;
    width: 150px;
    float: left;
    margin: 2px 4px 6px 4px;
    text-align: right;
}